<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.etienne.englishtoeic_application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EnglishBasic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".QuestionActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".CourseActivity">




        </activity>

        <activity android:name=".CoursesActivity">


        </activity>


        <activity android:name=".StatisticActivity">




        </activity>

        <activity android:name=".VocabulariesActivity">




        </activity>

        <activity android:name=".VocabularyActivity">




        </activity>

        <activity android:name=".VocabularyExamActivity">




        </activity>

        <activity android:name=".VocabularyExamFRtoENActivity">




        </activity>

        <activity android:name=".VocabularyExamENtoFRActivity">




        </activity>


    </application>

</manifest>